*{
    padding: 0;
    margin: 0;
}
body{
    background-color: lightblue;
}
.box{
    width: 20px;
    height: 20px;
    margin: 100px auto;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 
                /* eyes and nose */
                50px 0,
                25px 25px 0 -1px orange,

                /* smile */
                0 45px 0 -6px,
                13px 55px 0 -6px,
                25px 58px 0 -6px,
                37px 55px 0 -6px,
                50px 45px 0 -6px,

                /* head */
                25px 25px 0 55px #fff,

                /* ear */
                80px 25px 0 30px pink,
                80px 25px 20px 30px rgba(43, 43, 46, 0.5),
                -30px 25px 0 30px pink,
                -30px 25px 20px 30px rgba(43, 43, 46, 0.5),

                /* hair */
                -20px -30px 0 10px,
                5px -40px 0 10px,
                25px -55px 0 10px,
                40px -40px 0 10px,
                66px -30px 0 10px,

                /* bottum */
                25px 150px, 
                25px 190px, 
                25px 230px,

                /* body */
                25px 200px 0 100px #fff,
                25px 200px 20px 100px rgba(43, 43, 46, 0.5),

                /* lawn */
                25px 1100px 0 900px lightgreen
                ;
       
}
